*{
    background-color: #ffb3d9;
}
.title{
    text-align: center;
    font-family: Poppins;
    font-size: 50px;
    font-weight: 600;
    color: #ff0080;   
}
.text{
    text-align: center;
    font-family:Dancing Script;
    color: #ff0080;
}
.product-card{
    background-color:#ffffb3;
    width: 250px;
    margin:50px;
    padding: 20px 10px;
    border:#ff66b5 solid 6px;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px white;
    
}
.product-image{
    width: 200px;
    display: block;
    margin: 10px auto;
}
.back{
    background-color: #ffffb3;
    text-align: center;
    font-weight: bold;
}
.button{
    background-color:#e1eaea;
    border-radius: 20px;
    transition: 1s;
    margin-left: 85px;
}
button:hover{
    background-color: #ff9999;
}
.rating{
    text-align: center;
    font-weight: bold;
    color: #ff0080;
}
.star{
    padding: 2px 2px;
    color: white;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: yellow solid 3px;
    transition: 2s;
}
.star:hover{
    background-color: #ffffb3;
}
.review{
    background-color:#ffffb3;
    width: 550px;
    margin:50px;
    padding: 20px 10px;
    border:#ff66b5 solid 6px;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px white;
}
.reviewers{
    font-family:Dancing Script;
    border:#ff66b5 dashed 2px;
}